<table class="table table-striped table-responsive-md">
  <thead class="table-secondary">
    <tr>
      <th>Korisničko ime</th>
      <th>Email</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Tip</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let acc of acc_list">
      <td>{{ acc.username  }}</td>
      <td>{{ acc.email     }}</td>
      <td>{{ acc.firstname }}</td>
      <td>{{ acc.lastname  }}</td>
      <td>{{ acc.acc_type  }}</td>
      <td class="p-1" style="text-align: right; width: 50px;">
        <div class="btn-group" >
          <button class="btn btn-outline-dark" (click)="account_modal_ref.open()"><i class="bi bi-pen"></i></button>
          <app-account-modal #account_modal_ref [acc_old]="acc"></app-account-modal>
          <button *ngIf="!acc.activated_dt" class="btn btn-outline-dark" (click)="activate( acc )"><i class="bi bi-check-lg"></i></button>
          <button *ngIf="acc.acc_type != 'adm'" class="btn btn-outline-dark" (click)="delete( acc )"><i class="bi bi-x-lg"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
