<app-agency-info></app-agency-info>
<app-user-list></app-user-list>

<!-- TODO: ukloniti -->
<button class="btn nav-link shadow-none mr-auto" (click)="login_modal_ref.open()">A</button>
<app-login-modal #login_modal_ref></app-login-modal>
<button class="btn nav-link shadow-none mr-auto" (click)="register_modal_ref.open()">B</button>
<app-register-modal #register_modal_ref></app-register-modal>
<button class="btn nav-link shadow-none mr-auto" (click)="property_buy_modal_ref.open()">C</button>
<app-property-buy-modal #property_buy_modal_ref></app-property-buy-modal>
<button class="btn nav-link shadow-none mr-auto" (click)="property_rent_modal_ref.open()">D</button>
<app-property-rent-modal #property_rent_modal_ref></app-property-rent-modal>
<button class="btn nav-link shadow-none mr-auto" (click)="account_modal_ref.open()">E</button>
<app-account-modal #account_modal_ref></app-account-modal>
