<p>property-stats works!</p>


<!-- galerija nekretnine -->
<!-- message-list -->
<!-- property-stats -->
<button class="btn btn-outline-dark"><i class="bi bi-x-lg"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-check-lg"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-x-square"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-x"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-patch-exclamation"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-pen"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-person-lines-fill"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-person-x-fill"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-cash-coin"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-cursor"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-dash-circle"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-dash-circle-fill"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-dash-square"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-dash-square-fill"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-archive"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-archive-fill"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-patch-question"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-arrow-up-circle"></i></button>
<button class="btn btn-outline-dark"><i class="bi bi-arrow-up-circle-fill"></i></button>
