<!-- login modal -->
<button class="btn btn-outline-dark" (click)="openModal( loginModal )">Prijava</button>
<ng-template let-modal #loginModal>
  <div class="modal-header">
    <h4 class="modal-title">Prijava</h4>
  </div>

  <div class="modal-body">
    <form id='form' class="px-3 py-1">
      <small class='errmsg'>{{data.loginErr}}&nbsp;</small>
      <div class="form-group">
        <label for="username">korisničko ime</label>
        <input id ="username" type="text" class="form-control" placeholder="korisničko ime" name="username" [(ngModel)]="data.username" [class.is-invalid]="data.usernameErr != ''">
        <small class='errmsg'>{{data.usernameErr}}&nbsp;</small>
      </div>
      <div class="form-group">
        <label for="password">lozinka</label>
        <input id ="password" type="password" class="form-control" placeholder="lozinka" name="password" [(ngModel)]="data.password" [class.is-invalid]="data.passwordErr != ''">
        <small class='errmsg'>{{data.passwordErr}}&nbsp;</small>
      </div>
    </form>
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-light" (click)="modal.dismiss()">Odustani</button>
    <button class="btn btn-outline-dark" (click)="login()">Prijavi se</button>
  </div>
</ng-template>
