<div class="bg-light">
  <div class="d-flex align-items-center table-secondary" style="padding: .75rem;">
    <div class="font-weight-bold mr-auto">AAAAAAAA</div>
    <div class="btn-group">
      <button class="btn btn-outline-dark"><i class="bi bi-dash-circle"></i></button>
      <button class="btn btn-outline-dark"><i class="bi bi-dash-circle-fill"></i></button>
    </div>
  </div>

  <div class="p-4">

    <div class="d-flex flex-row justify-content-end align-items-top mb-4">
      <div class="p-2 rounded border offeror"> AAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAA </div>
      <small class="ml-4">2020.02.02 17.59</small>
    </div>

    <div class="d-flex flex-row justify-content-end align-items-top mb-4">
      <div class="p-2 rounded border owner"> BBBBBBBBBBBB BBBBBBBB </div>
      <small class="ml-4">2020.02.02 17.59</small>
    </div>

    <div class="d-flex flex-row justify-content-end align-items-top mb-4">
      <div class="p-2 rounded border offeror"> CCCCCCCCCCCCCCCCCCCCC </div>
      <small class="ml-4">2020.02.02 17.59</small>
    </div>

    <form id="form">
      <div class="d-flex mt-5 mb-2">
        <small class='text-danger align-self-end mr-auto'>{{ "aaa" }}&nbsp;</small>

        <div class="btn-group">
          <button class="btn btn-outline-dark"><i class="bi bi-x-lg"></i></button>
          <button class="btn btn-outline-dark"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn-outline-dark"><i class="bi bi-cash-coin"></i></button>
        </div>
        <div class="mx-2"></div>

        <button class="btn btn-outline-dark"><i class="bi bi-cursor"></i></button>
      </div>

      <textarea id="text" class="form-control" rows="4" style="resize: none; overflow-y: scroll;"></textarea>
    </form>

  </div>
</div>
