// import bootstrap stuff
@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"

// make the app fill the entire screen height
html, body, app-root
  height: 100%
// the app's min height is 100% with flex column
app-root
  display: flex
  flex-direction: column

// prevent focus outline on clicked elements
*:focus
  outline: none

// prevent items from being selectable by mouse
.no-select
  -webkit-touch-callout: none // iOS Safari
  -webkit-user-select: none // Safari
  -khtml-user-select: none // Konqueror HTML
  -moz-user-select: none // Old versions of Firefox
  -ms-user-select: none // Internet Explorer/Edge
  user-select: none // Non-prefixed version, currently supported by Chrome, Opera and Firefox

// style placed here since for some bizarre reason it doesn't work anywhere else
// possibly because reboot.scss is included globally and messes up the label part of the breadcrumb (the last crumb)
.xng-breadcrumb-item
  label
    margin-bottom: 0

// change breadcrumb style
.xng-breadcrumb-root
  padding: 4px 16px
  border-bottom: 2px solid #666
  border-radius: 0

// prevent background icons from showing on valid and invalid forms
.form-control.is-valid, .form-control.is-invalid
  background-image: none

