/* You can add global styles to this file, and also import other style files */

*:focus
  outline: none

.no-select
  -webkit-touch-callout: none // iOS Safari
  -webkit-user-select: none // Safari
  -khtml-user-select: none // Konqueror HTML
  -moz-user-select: none // Old versions of Firefox
  -ms-user-select: none // Internet Explorer/Edge
  user-select: none // Non-prefixed version, currently supported by Chrome, Opera and Firefox

.flex-space
  flex-grow: 1

.errmsg
  color: red

/* style placed here since for some bizarre reason it doesn't work anywhere else */
/* possibly because reboot.scss is included globally? */
.xng-breadcrumb-item
  label
    margin-bottom: 0

.xng-breadcrumb-root
  padding: 4px 16px
  border-radius: 4px

  border-bottom: 2px solid #666
  border-radius: 0

.form-control.is-valid, .form-control.is-invalid
  background-image: none

