.header
  height: 240px
  font-weight: 550
  background-image: url('../../../assets/images/pocetna-navbar.jpg')
  background-repeat: no-repeat
  background-size: cover

// .main

.footer
  text-align: center
  font-size: 10pt
  padding-top: 5px
  padding-bottom: 5px

