.navbar
  background-color: rgba(0, 0, 0, 0.33)
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 1000

.dropdown-menu
  margin-top: 0
  border: none
  border-radius: 0
  opacity: .95

.dropdown-toggle::after
  display: none

.dropdown-item
  padding-left: 0.5rem
  padding-right: 0.5rem

.navbar-toggler
  padding-top: 0
  padding-bottom: 0

.navbar-toggler-icon
  margin-bottom: 0.25rem
  width: 1.5rem
  height: 1.5rem

.pt-0125
  padding-top: 0.125rem

.nav-link
  color: rgb(232, 230, 227) !important

.nav-link:hover
  color: rgb(238, 185, 93) !important
